.mayor {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10%;
    grid-column: auto 3rem;
    gap: 1em;
    grid-auto-rows: auto;
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
  }

  .undergrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(10, 10, 10);
    border-radius: 10px;
    p {
      display: flex;
      text-align: center;
    }
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
  .undergrid3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(10, 10, 10);
    border-radius: 10px;
    p {
      display: flex;
      text-align: center;
    }
    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      margin: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}
