body {
  .contenedor1 {
    .navbar {
      @extend .testExtend;
      justify-content: space-between;
    }
  }
  .contenedor2 {
    #demo {
      .carousel-inner {
        width: 100%;
        max-height: 600px;
        .carousel-item {
          position: unset;
          .carrusel {
            h5 {
              font-size: 2rem;
              color: rgb(255, 255, 255);
            }
            p {
              font-size: 1.5rem;
              color: rgb(0, 4, 255);
            }
          }
        }
      }
    }
  }
}

.testExtend {
  display: flex;
}

.futer {
  background-color: rgba(54, 39, 39, 0.425);
  background: linear-gradient(#4f515565, #3439c47c);
  .two {
    @extend .testExtend;
    justify-content: center;
    gap: 50px;
    padding: 2rem;
    .one {
      @extend .testExtend;
      width: 50px;
      transform: skew(-2deg, 5deg);
    }
  }
  .leyenda {
    @extend .testExtend;
    justify-content: center;
  }
}
